# dataset
corpora/
data/
# binary
scan
test
infer
prob
eval
# work files
utils/
results/
tools/*.py
scripts/*.sh
.work/
.idea/
.backup/
*.pickle
out*
# cache file
*__pycache__
# allow
!tools/create_snippets.py
!tools/create_pseudo_data.py
!tools/create_snippets_using_coha.py
!scripts/run.sh
!scripts/run_test.sh
