# dataset
corpora/
data/
# binary
scan
test
infer
prob
eval
# work files
scripts/
utils/
results/
tools/*.py
tests/fig/
.work/
.idea/
.backup/
*.pickle
out*
# allow
!tools/create_snippets.py
!tools/create_pseudo_data.py
!scripts/run.sh
!scripts/run_test.sh
